[submodule ".registry"]
	path = .registry
	url = https://github.com/dsjohnson/dsjohnson.r-universe.dev
	branch = HEAD
[submodule "agTrend.ssl"]
	path = agTrend.ssl
	url = https://github.com/dsjohnson/agTrend.ssl
[submodule "cmpR"]
	path = cmpR
	url = https://github.com/dsjohnson/cmpR
[submodule "crawl"]
	path = crawl
	url = https://github.com/NMML/crawl
[submodule "crawlUtils"]
	path = crawlUtils
	url = https://github.com/dsjohnson/crawlUtils
[submodule "ctmmUtils"]
	path = ctmmUtils
	url = https://github.com/dsjohnson/ctmmUtils
[submodule "expQ2"]
	path = expQ2
	url = https://github.com/dsjohnson/expQ2
[submodule "marked"]
	path = marked
	url = https://github.com/jlaake/marked
	branch = devel
	subdir = marked
[submodule "markedTMB"]
	path = markedTMB
	url = https://github.com/jlaake/markedTMB
	branch = master
	subdir = markedTMB
[submodule "mbpp"]
	path = mbpp
	url = https://github.com/dsjohnson/mbpp
[submodule "moveMMPP"]
	path = moveMMPP
	url = https://github.com/dsjohnson/moveMMPP
[submodule "multAbund"]
	path = multAbund
	url = https://github.com/dsjohnson/multAbund
[submodule "pathroutr"]
	path = pathroutr
	url = https://github.com/jmlondon/pathroutr
	registered = false
[submodule "picMaps"]
	path = picMaps
	url = https://github.com/PIFSC-Protected-Species-Division/picMaps
[submodule "pupR"]
	path = pupR
	url = https://github.com/dsjohnson/pupR
[submodule "stocc"]
	path = stocc
	url = https://github.com/dsjohnson/stocc
